name: Hourly render ping

on:
  schedule:
    - cron: '0 * * * *'   # Runs every hour (UTC)
  workflow_dispatch:

jobs:
  curl-website:
    runs-on: ubuntu-latest
    steps:
      - name: Run cURL on Website
        run: curl -I https://sellbuy-ik7l.onrender.com
